<br/><br/><br/><br/>
<h1>List of the user Registered</h1>
<div class="usernames">
		<% @user.each do |user| %>
			<br/>
			<%= link_to user.username.upcase  %>
		<%end %>
</div>
<div class="page">
	<%= will_paginate @user%>
</div>
