	<%= simple_form_for @project do |f| %>
		<div class ="css-input">
		<div class ="field">
			<%= f.input :title %><br/>
			<%= f.input :description %><br/>
			<%= f.submit %>
		</div>
		</div>
	<% end %>
